#earth {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    position: absolute !important;
    overflow: hidden;
}

.cesium-credit-textContainer {
    display: none;
}

.we-pm-icon-path {
    width: 4px;
    height: 4px;
    background-color: $white;
    margin-left: 0;
    margin-top: 0;
    border-radius: 50%;
    box-shadow: $marker_shadow;
}
