.live {
    position: absolute;
    bottom: 70px;
    left: 120px;
    width: 270px;
    height: 150px;
    color: $white;
    transition: $ease-cubic;
    transform-origin: bottom left;
    transform: scale(0.1);
    opacity: 0;
    will-change: transform;
}

// .muted {
//     position: absolute;
//     right: -40px;
// }
//
// .fullscreen {
//     position: absolute;
//     right: -40px;
// }
