.live {
    position: absolute;
    bottom: 90px;
    left: 120px;
    width: 270px;
    height: 150px;
    color: $white;
    transition: $ease-cubic;
    transform-origin: bottom left;
}

// .muted {
//     position: absolute;
//     right: -40px;
// }
//
// .fullscreen {
//     position: absolute;
//     right: -40px;
// }
