.team-area {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    background: linear-gradient(270deg, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 47%, rgba(0,0,0,1) 49%, rgba(0,0,0,0.05) 100%);
    color: $white;
    transition: $ease-cubic;
    will-change: transform;
    z-index: $zindex-2;
}

.team-area-title {
    font-size: 34px;
    font-weight: 700;
    margin-left: 90px;
    margin-top: 60px;
}

.buttons {
    position: absolute;
    bottom: 90px;
    left: 100px;
    height: 80px;
}

.buttons a {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.button-up {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    svg {
        fill: $white;
    }
}

.button-down {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    svg {
        fill: $white;
        transform: rotate(180deg);
    }
}

.buttons div img{
  width: 100%;
  height: 100%;
}

.button_up{

}

.button_down{
}

.names{
  width: 100vw;
  height: 0vw;
}

.names div{
  position: absolute;
  left: 44vw;
  top: 50vh;
  color: #fff;
}

.thomas{
  opacity: 1;
}

.andrei{
  opacity: 0;
}

.robert{
  opacity: 0;
}

.sergei{
  opacity: 0;
}

.peggy{
  opacity: 0;
}

.oleg{
  opacity: 0;
}

.circle_container{
    position: absolute;
    top: 50%;
    right: -40%;
    transform: translateY(-50%);
}

#circle_background{
  width: 550px;
  height: 550px;
  transform: rotate(0deg);
  transform-origin: center center;
  // border: 1px dashed $white;
  box-shadow: $popup_shadow;
  border-radius: 300px;
}

#circle_div {
  width: 556px;
  height: 556px;
}

.circle0
{
  width: 120px;
  height: 120px;
}

.circle1
{
  width: 120px;
  height: 120px;
}

.circle2
{
  width: 120px;
  height: 120px;
}

.circle3
{
  width: 160px;
  height: 160px;
}

.circle4
{
  width: 120px;
  height: 120px;
}

.circle5
{
  width: 120px;
  height: 120px;
}

.circle6
{
  width: 120px;
  height: 120px;
}

.div_circle {
    border-radius: 180px;
    box-shadow: $marker_shadow;
    transform: rotate(0deg);
    background-repeat: no-repeat;
    background-size: cover;
}

.count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
}

.count p {
  color: $white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}


.content {
    position: absolute;
    top: 250px;
    max-width: 50%;
    height: 320px;
    color: $white;
    margin-left: 90px;
}

.content-name {
    font-size: 28px;
    font-family: 'Open sans';
}

.content-extract {
    font-size: 15px;
    line-height: 23px;
    font-family: 'Open sans';
    margin-top: 30px;
}

.content0,
.content1,
.content2,
.content4,
.content5 {
    opacity: 0;
}

.age {
    margin-top: 20px;

    .age-text {
        font-weight: 700;
        display: inline;
    }
    .age-data {
        display: inline;
        margin-left: 15px;
    }

}

.nationality {
    margin-top: 45px;

    .nationality-text {
        font-weight: 700;
        display: inline;
    }
    .nationality-data {
        display: inline;
        margin-left: 15px;
    }
}
