.team-area {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transform: translateX(100%);
    transition: $ease-cubic;
    will-change: transform;
    z-index: $zindex-2;
}

.members {
    width: 30%;
    height: 100%;
    background-color: blue;
}

.member {
    width: 100%;
    height: calc(100% / 6);
}
