body,
html {
    height: 100%;
    width: 100%;
    background: #000000 /*url('../img/404_background.jpg')*/;
}

body {
    font-family: 'Open sans', Arial, sans-serif;
    overflow: hidden;
}

.app {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $ease-cubic;
}


a {
    text-decoration: none;
}


/*
 * feed & team mode app
 */

.app.feed-mode {

    .feed-area {
        transform: translateX(0%) !important;
        transition: $ease-cubic;

        @for $i from 1 to 100 {
            .feed:nth-child(#{$i}) {
                animation-name: enter;
                animation-duration: 0.3s;
                animation-timing-function: $ease-cubic;
                animation-fill-mode: forwards;
                animation-delay: #{($i * 0.05) + 0.2}s;
            }
        }
    }

    .earth-area {
        transform: translateX(18%) !important;
        transition: $ease-cubic;

        .iss-overflown {
            transform: translateX(80%) !important;
            transition: $ease-cubic;
        }

        .iss-speed {
            transform: translateX(-170%) !important;
            transition: $ease-cubic;
        }

        .iss-altitude {
            transform: translateX(-200%) !important;
            transition: $ease-cubic;
        }

        .live {
            transform: translateX(80%) scale(0.6) !important;
            transition: $ease-cubic;
        }
    }
}


.app.team-mode {

    .team-area {
        transform: translateX(0%) !important;
        transition: $ease-cubic;
    }

    .earth-area {
        transform: translateX(-25%) !important;
        transition: $ease-cubic;

        .iss-overflown {
            transform: translateX(130%) !important;
            transition: $ease-cubic;
        }

        .iss-speed {
            transform: translateX(-160%) !important;
            transition: $ease-cubic;
        }

        .iss-altitude {
            transform: translateX(-195%) !important;
            transition: $ease-cubic;
        }

        .live {
            transform: translateX(130%) scale(0.6) !important;
            transition: $ease-cubic;
        }
    }

    .feed-area {
        transform: translateX(-110%) !important;
        transition: $ease-cubic;
    }
}
